<a href="https://colab.research.google.com/github/rishisg/ChatGPT/blob/main/Python_Basics_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programming Basics
1. Setup and Basic Operations
- Install Python (if not already installed).
- Use print() and input() functions.
- Assign values to variables and explore different data types.

In [1]:
# Print and input functions
print("Hello, Python!")
name = input("Enter your name: ")
print(f"Hello, {name}!")

# Assigning variables
x = 5
y = 3.14
z = "Hello"
print(x, y, z)

Hello, Python!
Enter your name: Lakshman
Hello, Lakshman!
5 3.14 Hello

2. List Operations
- Create a list and perform basic operations like append(), remove(), pop(), and slicing.
- Iterate over a list using loops.

In [6]:
# List creation and operations
my_list = [1, 2, 3, 4, 5]

# Append, remove, pop, and slicing
my_list.append(6)
my_list.remove(2)
my_list.pop(3)  # Removes element at index 3
print(my_list[1:4])  # Slicing

# Iterating over a list using for loop
for element in my_list:
    print(element)

[3, 4, 6]
1
3
4
6

3. Tuple Operations
- Create and access tuple elements.
- Understand the immutability of tuples.
- Use tuple unpacking.

In [7]:
# Tuple creation and access
my_tuple = (1, 2, 3, 4)
print(my_tuple[0])  # Access element by index

# Tuple unpacking
a, b, c, d = my_tuple
print(a, b, c, d)

1
1 2 3 4

4. Dictionary Operations
- Create a dictionary with key-value pairs.
- Perform operations like adding, updating, and deleting key-value pairs.
- Iterate through a dictionary using loops.

In [8]:
# Dictionary creation and operations
my_dict = {"Alice": 85, "Bob": 92, "Charlie": 88}

# Adding, updating, and deleting elements
my_dict["Dave"] = 90  # Add new key-value pair
my_dict["Alice"] = 95  # Update value for Alice
del my_dict["Bob"]  # Delete Bob

# Iterating through a dictionary
for student, marks in my_dict.items():
    print(f"{student}: {marks}")

Alice: 95
Charlie: 88
Dave: 90

5. Set Operations
- Create a set and perform operations like union, intersection, and difference.
- Understand the uniqueness property of sets.

In [9]:
# Set creation and operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union, intersection, and difference
union_set = set_a | set_b
intersection_set = set_a & set_b
difference_set = set_a - set_b

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference:", difference_set)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

6. Conditional Statements
- Implement if-else conditions for decision-making.
- Use nested if-else conditions for complex logic.

In [10]:
# Simple if-else
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

# Nested if-else
marks = 85
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
else:
    print("Grade: C")

You are an adult.
Grade: B

7. Looping Constructs
- Use for loops to iterate over lists, tuples, and dictionaries.
- Use while loops for repeating tasks.
- Implement break and continue statements to control loops.

In [17]:
# Using for loop for lists
for i in range(5):
    print(i)

# Using while loop for repetition
print('\n')
count = 0
while count < 5:
    print(count)
    count += 1

# Using break and continue
print('\n')
for i in range(10):
    if i == 5:
        break  # Exit loop when i is 5
    if i == 3:
        continue  # Skip iteration when i is 3
    print(i)

0
1
2
3
4


0
1
2
3
4


0
1
2
4

8. Problem-Solving Tasks
- 1. Find the Largest Number in a List

In [18]:
numbers = [2, 7, 1, 9, 4]
largest_number = max(numbers)
print("Largest number:", largest_number)

Largest number: 9

- 2. Count the Frequency of Elements in a List

In [19]:
my_list = [1, 2, 2, 3, 3, 3, 4]
frequency = {}
for item in my_list:
    frequency[item] = frequency.get(item, 0) + 1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 1}

- 3. Create a Dictionary of Student Names and Marks and Find the Student with the Highest Marks

In [20]:
students = {"Alice": 85, "Bob": 92, "Charlie": 88}
top_student = max(students, key=students.get)
print(f"Top student: {top_student} with marks {students[top_student]}")

Top student: Bob with marks 92

- 4. Implement a While Loop to Print the Fibonacci Series Up to a Given Number

In [21]:
n = 10  # Print Fibonacci series up to 10
a, b = 0, 1
while a <= n:
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8

- 5. Use a Set to Remove Duplicate Elements from a List

In [22]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(my_list)
print("Unique elements:", unique_elements)

Unique elements: {1, 2, 3, 4, 5}