<a href="https://colab.research.google.com/github/rishisg/ChatGPT/blob/main/Python_Programming__Basics_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Programming Basics Assignment: A Step-by-Step Guide

1️⃣ Setup and Basic Operations

Before coding, ensure Python is installed on your system. You can install it from python.org.

Basic Operations

In [1]:
# Printing output:
print("Hello, Python!")

Hello, Python!

In [2]:
# Getting user input:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Lakshman
Hello, Lakshman

In [3]:
# Assigning variables & checking data types:

age = 25
price = 19.99
message = "Python Basics"

print(type(age))    # Output: <class 'int'>
print(type(price))  # Output: <class 'float'>
print(type(message)) # Output: <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

2️⃣ List Operations

Lists are ordered, mutable collections that can store multiple data types.

In [4]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [5]:
# List operations
fruits.append("mango")  # Adds an item at the end
fruits.remove("banana") # Removes a specific item
print(fruits.pop())     # Removes and returns the last item
print(fruits[:2])       # Slicing: Gets first two items

mango
['apple', 'cherry']

In [6]:
# Looping through a list
for fruit in fruits:
    print(fruit)

apple
cherry

3️⃣ Tuple Operations

Tuples are immutable, meaning their values cannot be changed after creation.

In [7]:
# Creating and accessing a tuple
numbers = (10, 20, 30, 40)
print(numbers[2])  # Output: 30

30

In [8]:
# Tuple unpacking
x, y, z, w = numbers
print(x, y, z, w)  # Output: 10 20 30 40

10 20 30 40

4️⃣ Dictionary Operations

Dictionaries store key-value pairs.

In [9]:
# Creating a dictionary
student_marks = {"Alice": 85, "Bob": 90, "Charlie": 78}
print(student_marks["Bob"])  # Output: 90

90

In [10]:
# Adding, updating, and deleting
student_marks["David"] = 88  # Adding a new key-value pair
student_marks["Alice"] = 92  # Updating an existing value
del student_marks["Charlie"] # Removing a key-value pair

In [11]:
# Iterating through a dictionary
for name, marks in student_marks.items():
    print(f"{name}: {marks}")

Alice: 92
Bob: 90
David: 88

5️⃣ Set Operations

Sets store unique values and are unordered.

In [12]:
# Creating a set
unique_numbers = {1, 2, 3, 4, 4, 5}
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [13]:
# Set operations
set_a = {1, 2, 3}
set_b = {3, 4, 5}

print(set_a | set_b)  # Union: {1, 2, 3, 4, 5}
print(set_a & set_b)  # Intersection: {3}
print(set_a - set_b)  # Difference: {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

6️⃣ Conditional Statements (if-else)

In [14]:
# Conditional statements control decision-making in programs.
age = int(input("Enter your age: "))

if age >= 18:
    print("You are an adult.")
elif age > 12:
    print("You are a teenager.")
else:
    print("You are a child.")

Enter your age: 57
You are an adult.

7️⃣ Looping Constructs

Loops allow repeating tasks efficiently.

In [15]:
# For loop
numbers = [10, 20, 30]
for num in numbers:
    print(num)

10
20
30

In [16]:
# While loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [17]:
# Break and Continue
for num in range(10):
    if num == 5:
        break  # Stops loop completely
    if num % 2 == 0:
        continue  # Skips even numbers
    print(num)

1
3

8️⃣ Problem-Solving Tasks

In [18]:
# Finding the largest number in a list
numbers = [45, 12, 78, 34, 89]
largest = max(numbers)
print("Largest number:", largest)

Largest number: 89

In [19]:
# Counting frequency of elements
from collections import Counter

nums = [1, 2, 3, 2, 1, 3, 3, 2]
frequency = Counter(nums)
print(frequency)  # Output: {1: 2, 2: 3, 3: 3}

Counter({2: 3, 3: 3, 1: 2})

In [20]:
# Finding the student with the highest marks
student_marks = {"Alice": 85, "Bob": 90, "Charlie": 78}

top_student = max(student_marks, key=student_marks.get)
print("Top Student:", top_student)

Top Student: Bob

In [21]:
# Fibonacci series using while loop
n = int(input("Enter number of terms: "))
a, b = 0, 1

while a <= n:
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 12
0 1 1 2 3 5 8

In [22]:
# Removing duplicates using a set
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print("Unique numbers:", unique_numbers)

Unique numbers: [1, 2, 3, 4, 5]

Dataset for Practice
To practice further, manually create sample datasets:

In [23]:
# Example 1: Student Marks Dictionary
students = {
    "Alice": {"Math": 85, "English": 90},
    "Bob": {"Math": 78, "English": 88}
}

In [24]:
# Example 2: List of Transactions
transactions = [1500, 2300, 450, 890, 1200]